.head {
  text-align: left; /* Align the header text to the left */
  padding-left: 1rem; /* Add padding to align with the body content */
  padding-bottom: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 1rem; /* Add padding around the content */
}

.body .flex {
  align-items: center; /* Align items to the center vertically */
  justify-content: flex-start; /* Align items to the start of the flex container (left side) */
}

.body .avatar {
  margin-right: 1rem; /* Space after the avatar */
  margin-bottom:  1rem;
  width: 70px; /* Make the avatar larger */
  height: 70px; /* Make the avatar larger */
}

.button {
  margin-left: 1rem; 
  background-color: #805AD5; 
  color: white;
}

/* .upload-section {
  display: flex;
  align-items: center; 
  gap: 5rem; 
} */

.upload-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will space out your items evenly */
  gap: 1rem; /* Adjust gap as needed */
  width: 100%; /* Ensure the section takes full width */
}

/* Ensure the button has no left margin */
.button-upload {
  background-color: #805AD5; /* Chakra purple color */
  color: white;
}

.button-edit {
  background-color: transparent; /* Make the edit button transparent */
  color: #805AD5; /* Match the text color to the purple theme */
  border: 1px solid #805AD5; /* Add border to the edit button */
}

.select {
  max-width: 240px; /* Or any other fixed width or max-width */
}

/* Add style for the text next to the avatar */
.text {
  align-self: center; /* Vertically center with the avatar */
  margin-right: auto; /* Align text to the left */
}

/* responsive styles */
@media screen and (max-width: 768px) {
  .body .flex {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .button,
  .button-upload,
  .button-edit {
    /* margin-left: 0; 
    width: 100%;  */
    white-space: nowrap; /* Prevent text from wrapping */
    padding: 0.5rem 1rem; /* Adjust padding to ensure buttons are not too large */
  }

  .upload-section {
    /* flex-direction: column; 
    gap: 1rem; 
    align-items: flex-start;  */
    flex-wrap: nowrap; /* Prevent wrapping of items */
  }

  .select {
    max-width: 100%; 
  }

  .text {
    /* margin-bottom: 1rem;  */
    flex-grow: 1; /* Allow text to take up available space */
    margin-right: auto; /* Push buttons to the right */
  }

  .avatar {
    margin-right: 0; 
    margin-bottom: 0.5rem; 
  }
}

@media screen and (max-width: 480px) {
  .head,
  .body {
    padding: 0.5rem; 
  }

  .upload-section {
    gap: 0.5rem;
  }
}