.navBar-Dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; /* Example padding, adjust as needed */
    background-color: #484c6c; /* Background color for the navbar */
}

.badgeIcon-Dash {
    background-color: #484c6c; /* Set the background color for icons */
    color: white; /* Adjust icon color as needed */
    border: none; /* Remove border if not needed */
    font-size: 35px; /* Set the initial icon size */
    margin-right: 2rem;
    display: inline-flex; /* Ensures that the icon container can be transformed */
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, color 0.2s ease; /* Smooth transition for scaling and color */

    &.css-22xpxh {
      background-color: #484c6c; /* Set the background color for icons */
      font-size: 35px; /* Set the initial icon size */
      color: white; /* Adjust icon color as needed */

      &:hover {
        background-color: inherit; /* Keep the background color on hover */
        color: #e0dcf4; /* Change icon color on hover */
        transform: scale(1.2); /* Increase the icon size */
      }
    }
  }
  

  .menuIcon-Dash {
    background-color: #484c6c; /* Set the background color for icons */
    color: white; /* Adjust icon color as needed */
    border: none; /* Remove border if not needed */
    font-size: 32px; /* Increase the icon size */

    &.css-22xpxh {
      background-color: #484c6c; /* Set the background color for icons */
      font-size: 35px; /* Set the initial icon size */
      color: white; /* Adjust icon color as needed */

      &:hover {
        background-color: #484c6c; /* Darker shade on hover, adjust as needed */
        color: #e0dcf4; /* Change icon color on hover */
      }
    }
  }
  

.rightSection-Dash {
    display: flex;
    align-items: center;
}

// .menuButton {
//     background-color: #885cd4; /* Set background color for the menu button */
//     color: white; /* Adjust text color as needed */
//     margin-right: 1.5rem;
//     font-size: 24px;
//     font-weight: 100;


    
//     &:hover {
//         background-color: #9669e4; /* Lighter shade on hover, adjust as needed */
//     }
// }

.menuButton-Dash {
    background-color: #484c6c; /* Set background color for the menu button */
    color: white; /* Adjust text color as needed */
    margin-right: 2rem;
    font-size: 24px;
    font-weight: 100;
    transition: transform 0.2s ease-in-out, color 0.2s ease; /* Smooth transition for scaling and color */

    &.css-22xpxh {
      background-color: #484c6c; /* Set the background color for icons */
      font-size: 35px; /* Set the initial icon size */
      color: white; /* Adjust icon color as needed */
    
    &:hover {
      background-color: inherit; /* Keep the background color on hover */
      color: #e0dcf4; /* Change icon color on hover */
      transform: scale(1.2); /* Increase the icon size */
    }
  }
}

.userAvatar-Dash {
    /* Assuming the Avatar component allows for background color styling through class */
    margin-right: 2rem;
    background-color: #484c6c; /* Set background color */
   transition: transform 0.2s ease-in-out, color 0.2s ease; /* Smooth transition for scaling and color */
    
    &:hover {
      background-color: inherit; /* Keep the background color on hover */
      color: #e0dcf4; /* Change icon color on hover */
      transform: scale(1.2); /* Increase the icon size */
    }
  }
