.projects-container {
  margin-top: 1rem;
    // Overflow handling for the whole container
    overflow: hidden;

  .projects-heading {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    // text-align: center;
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    // gap: 1rem;
    justify-content: center;
  }

  .project-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 250px; // Set the card width to be smaller
    // margin: 1rem; // Adjust margin as needed for layout
    overflow: hidden; // Ensure the border-radius is applied to child elements
    max-width: 100%; // Ensure card is not wider than the screen

    .card-top {
      background-size: cover;
      background-position: center;
      color: white;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        pointer-events: none;
        z-index: 1;
      }

      .project-title {
        font-size: 1.5rem;
        margin-left: 5px;
        padding: 0.5rem;
        padding-top: 2.5rem;
        border-radius: 0.25rem;
        font-weight: 500;
        position: relative;
        z-index: 2; // Make sure this is higher than the ::after pseudo-element
      }
    }

    .card-bottom {
      padding: .75rem;
      // background-color: #f8f8f8; // Lighter background for the bottom part
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; // Relative positioning for the absolute trash icon

      .last-edited {
        font-size: 0.75rem; // Make the "Last edited" text much smaller
        margin: 0;
      }

      .delete-icon {
        position: absolute;
        // bottom: 5px; // Position at the bottom corner
        right: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer; // Ensure it's clear the icon is clickable

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .no-projects {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); // Example shadow
    border-radius: 1rem;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
    display: flex; /* Use flex layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items on the cross axis */
    justify-content: center; /* Center items on the main axis */
    padding: 40px; /* Adjust the padding as needed */
    margin: auto; /* Center the box */
    height: auto; // Let the height be as tall as the content
    // max-width: 90vw; // Prevent the box from being too wide
    width: 90%; // Flexible width
    max-width: 500px; // Max width for larger screens

    .no-projects-title {
      font-size: 1.25rem;
      margin: 0.5em 0; // Use em for consistent spacing
      font-weight: 600;
      word-break: break-word;

      // margin-top: 1rem;

    }

    .no-projects-text {
      margin-bottom: 1rem;
      word-break: break-word;

    }

    .create-button {
      background-color: #805ad5;
      color: white;
      // padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      cursor: pointer;
      align-self: center; // This explicitly aligns the button to the center
      width: auto; // Allow the button to size according to its content
      // margin-bottom: 1rem;

      &:hover {
        background-color: #6b46c1;
      }
    }
  }
}

.ProjImage {
  // height: 60vh;
  position: relative;
  // top: 100px;
  margin: 2rem;
  width: auto; // Maintain aspect ratio
  max-width: 100%; // This ensures that the image is never wider than its container
  height: auto; // This ensures that the height scales proportionally with the width
  object-fit: contain; // This tells the browser to display the image as large as possible within its container, without cropping or stretching it
}

// // Responsive adjustments for smaller screens
// @media (max-width: 768px) {
//   .projects-container {
//     // Adjust grid template for smaller screens
//     .projects-list {
//       grid-template-columns: 1fr; // Stack cards on small screens
//     }
//   }

//   .no-projects {
//     padding: 10px; // Less padding on smaller screens
//     // Other adjustments as needed
//   }

// }

// Media query for smaller screens
@media (max-width: 768px) {
  .no-projects {
    padding: 1em; // Smaller padding on smaller screens
    width: 90%; // Increase width for smaller screens
  }

  .ProjImage {
    max-height: 70vh; // Smaller height on smaller screens
  }
}

// Additional media query for even smaller screens
@media (max-width: 480px) {
  .no-projects {
    padding: 0.5em; // Even smaller padding for very small screens
  }

  .ProjImage {
    max-height: 60vh; // Even smaller image for very small screens
  }
}

