 .projects-container {
  margin-top: 1rem;
  
    .projects-heading {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      // text-align: center;
    }
  
    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
      justify-content: center;
    }
  
    // .project-card {
    //   padding: 1rem;
    //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    //   border: 1px solid #ddd;
    //   border-radius: 0.5rem;
    //   text-align: center;
    //   margin-bottom: 1rem;
    //   .project-title {
    //       font-size: 1.25rem;
    //       margin-bottom: 0.5rem;
    //     }
      
    //     .project-content {
    //       margin-bottom: 1rem;
    //     }
      
    //     .edit-button {
    //       background-color: #805ad5;
    //       color: white;
    //       padding: 0.5rem 1rem;
    //       border: none;
    //       border-radius: 0.25rem;
    //       font-size: 1rem;
    //       cursor: pointer;
      
    //       &:hover {
    //         background-color: #6b46c1;
    //       }
    //     }
    //             }

      .project-card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        // border: 1px solid #ddd;
        border-radius: 0.5rem;
        width: 250px; // Set the card width to be smaller
        margin: 1rem; // Adjust margin as needed for layout
        overflow: hidden; // Ensure the border-radius is applied to child elements

        .card-top {
            background-size: cover;
            background-position: center;
            color: white;
            padding: 1rem;
            position: relative;
            // text-align: center;
        
            .project-title {
              font-size: 1.5rem;
              margin: 0;
              // background-color: rgba(0, 0, 0, 0.5); // Optional: for better readability
              // display: inline-block;
              padding: 1rem 0.5rem;
              border-radius: 0.25rem;
              font-weight: 500;
            }
          }

        .card-bottom {
          padding: .75rem;
          // background-color: #f8f8f8; // Lighter background for the bottom part
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative; // Relative positioning for the absolute trash icon

          .last-edited {
            font-size: 0.75rem; // Make the "Last edited" text much smaller
            margin: 0;
          }

          .delete-icon {
            position: absolute;
            // bottom: 5px; // Position at the bottom corner
            right: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer; // Ensure it's clear the icon is clickable

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
        
                .no-projects {
                  text-align: center;
                  .no-projects-title {
                      font-size: 1.25rem;
                      margin-bottom: 0.5rem;
                    }
                  
                    .no-projects-text {
                      margin-bottom: 1rem;
                    }
                  
                    .create-button {
                      background-color: #805ad5;
                      color: white;
                      padding: 0.5rem 1rem;
                      border: none;
                      border-radius: 0.25rem;
                      font-size: 1rem;
                      cursor: pointer;
                  
                      &:hover {
                        background-color: #6b46c1;
                      }
                    }
                  }
                }