.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #484c6c;
  //background-color: #484c6c;
  color: #e8eaed;
  padding: 5px;

  .menu-icon-button {
    background: inherit;
    font-size: 20px;
    color: white;
    margin-left: 9px;
  }

  .nav-items {
    display: flex;
    margin-left: 2rem;

    .nav-item {
      margin-right: 1.5rem;
      cursor: pointer;

      &:hover {
        color: #dcdcf6;
      }
    }
  }

  .title-area {
    flex-grow: 1;
    margin-left: 10rem;
    display: flex;
    align-items: center;
    padding: 0.35rem;
    border-radius: 10px;

    &:hover {
      background-color: #00000044;
    }

    .title-input {
      background-color: transparent;
      border: none;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      margin-left: 0.5rem;

      &:focus {
        outline: none;
      }
    }
  }

  // NavBar.scss
  .action-buttons {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: inherit;

    .action-icon {
      margin-left: 12px;
      color: white;
      background-color: inherit;

      &.call,
      &.analytics,
      &.share {
        font-size: 24px;
        background-color: inherit;
        width: 50px;

        &:hover {
          background-color: #00000050;
        }
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .menu-icon-button {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .title-area {
    margin-left: 1rem;
  }
}
