.navbar {
  display: flex;
  justify-content: space-between; // This spreads out the items
  align-items: center;
  background-color: #202124; // Dark background color
  color: #e8eaed; // Light text color
  padding: 0.5rem 1rem;

  .sidebar-icon,
  .action-icon {
    margin-right: 1rem;
    cursor: pointer;
  }

  .nav-items {
    display: flex; // Aligns nav-items in a row

    .nav-item {
      margin-right: 1rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title-area {
    flex-grow: 1; // Allows the title area to take up available space
    display: flex;
    justify-content: center; // Centers the title
  }

  .action-buttons {
    // Add styles for action buttons if needed
  }
}