
.container {
  display: flex; // Use flexbox to align children
  justify-content: center; // Center children horizontally
  align-items: center; // Center children vertically
  padding: 1rem;
}

.toolbar {
  padding: 0.25rem; // Reduced padding for less space around buttons.
  background-color: #dcdcf6; // A muted color similar to the second image.
  border-radius: 8px; // Less rounded corners compared to the first image.
  display: flex; // Ensure the buttons are flexibly placed.
  // gap: 4px; // Adds a gap between buttons.

  .tool {
    background-color: transparent; // No background color for a flat look.
    color: #666; // Muted icon color.
    border: none; // Remove borders if any.

    &:hover {
      background-color: #cdcdff; // A light hover effect.
    }
  }
}