.canvas-container {
  position: fixed;

  .tool-selector {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  .color-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); // 10 columns
    grid-gap: 2px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;
  }

  .color-block {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid transparent;

    &.selected {
      border-color: #fff; // highlight color for selected color
    }
  }

  .konvajs-content {
    user-select: none; // prevent text selection while drawing
  }

    .stroke-size-slider {
      position: absolute;
      top: 300px; // Adjust as needed
      left: 10px;
      z-index: 10;
    }
  
    .stroke-size-input {
      position: absolute;
      text-align: center;
      top: 325px; // Adjust as needed
      left: 55px;
      z-index: 10;
      width: 35px; // Adjust as needed

      &:hover{
        outline: none;
      }

      &:focus{
        outline: none;
      }
    }
    }