
.toolbarBoard {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  width: 50%;
  background-color: #eeeeff;

  .tool-button {
    background: none;
    border: none;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;

    &:hover,&:focus {
      color: #6d3fb8;
      background-color: inherit;
    }

  }
}

  .color-grid {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr); // 10 columns
  grid-gap: 5px;
  position: absolute;
  top: 225px;
  left: 596px;
  z-index: 10;
  opacity: 0; // Start fully transparent
  transform: translateY(100vh); // Start off-screen, below the viewable area
  transition: transform 0.3s ease-out;
  pointer-events: none; // Initially, don't allow interactions

  &.active {
    opacity: 1; // End fully visible
    transform: translateY(0); // End at final position
    pointer-events: all; // Allow interactions when visible
  }
  }

  .color-block {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(143, 143, 143, 0.2);

  &.selected {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  }

  .konvajs-content {
  user-select: none; // prevent text selection while drawing
  }

.containerSlider {
  position: absolute;
  justify-content: center;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  top: 400px; // Adjust as needed
  left: 695px;
  z-index: 10;

  &.active {
    display: flex; // Show when active
  }

  .stroke-size-slider{
    position: relative;
    top: 2px;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 10;
    margin-right: 10px;
  }

  .stroke-size-input{
    text-align: center;
    top: 430px; // Adjust as needed
    left: 552px;
    z-index: 10;
    width: 30px; // Adjust as needed
    height: 30px;
    border-radius: 15px;

    &:hover {
      outline: none;
      box-shadow: 0 2px 5px rgba(143, 143, 143, 0.2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
  }
    
}

.shape-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 10 columns
  position: absolute;
  justify-content: center;
  padding: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  top: 400px;
  left: 560px;
  z-index: 10;
  display: block;
}

@media (max-width: 768px) {
  .toolbarBoard {
    overflow-x: auto;
    flex-wrap: wrap;
    width: 80%;
  }
}