.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* High z-index to ensure it is above other content */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  /* Adjust width as necessary */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h4 {
  margin: 0;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  /* Larger close button */
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Include padding in the input's width */
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel-button,
.ok-button {
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  /* Spacing between buttons */
}

.cancel-button {
  background-color: #ccc;
}

.ok-button {
  background-color: #007bff;
  color: white;
}