.login-form-container {
  position: relative; // This creates a new stacking context
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/auth-bg.png'); // Path to your image file
  background-size: cover; // Cover the entire area of the container
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Do not repeat the image
  
  .form-stack {
    max-width: 400px; // Adjust the width as necessary
    height: 400px;
    padding: 2rem;
    background-color: #ffffff; // Assuming this is purple.100 in Chakra UI
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15); // Shadow only on the left edge    
    border-radius: 8px 0px 0px 8px;
    align-items: flex-start; // Align children to the start of the cross axis
  }

  .form-title {
    font-size: 24px; // Convert Chakra UI token to px
    font-weight: bold;
    color: #1a202c; // Assuming this is blackAlpha.800 in Chakra UI
    margin-bottom: 16px;
  }

  .form-subtitle {
    font-size: 16px;
    color: #1a202c; // Assuming this is blackAlpha.800 in Chakra UI
    margin-bottom: 24px;
  }

  .auth-button {
    width: 100%;
    height: 50px; // Adjust as needed
    margin-bottom: 16px;
    border: solid 1px #484c6c;
    justify-content: flex-start; // Align icon and text to the start

    &:hover {
      background-color: #c4c4ff; // Assuming this is purple.300 in Chakra UI
      color: black;
      transform: scale(1.05);
    }
  }

  .pwd-input {
    margin-bottom: 1rem;
    height: 50px; // Adjust as needed
    position: relative;

    &:hover {
      box-shadow: 0 0 0 1px #a3a3a3; // This replicates the Chakra UI focus border effect    }
    }

    &:focus {
      border-color: #805ad5; // This is an example purple color, replace with the specific purple you use
      box-shadow: 0 0 0 1px #805ad5; // This replicates the Chakra UI focus border effect
    }
  }

  .pwd-icon {
    position: absolute;
    right: 0; // aligns the icon container to the right
    top: 50%; // centers it vertically
    transform: translateY(-50%); // offsets the container by half its height for perfect vertical centering
    height: 100%;

    .icon-button {
      background: transparent; // makes the button background transparent
      border: none; // removes the border
    }
  }

  .forgot {
    cursor: pointer;

    &:hover {
      color: #805ad5;
    }
  }
}